body {
    font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;

}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
button {
  border-radius: 5px;
}

li {
  list-style: none;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
li button {
  margin-left: 5px;
}
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode li {
  background-color: #1e1e1e;
}


.dark-mode input,
.dark-mode button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode li {
  background-color: #222;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.2s;
}
input:focus {
  outline: none;
  border: 2px solid #4CAF50;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: gray;
}
button {
  border-radius: 8px;
}
#todayDate {
  font-weight: bold;
  color: #4CAF50;
}
li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.completed {
  background-color: #e0ffe0;
}
li {
  transition: all 0.3s ease;
}